Errors to fix
* Handle when nothing is added to new order form - done
* Handle when 0 is added to new order form - complete
* Handle when not number added to new order form - done

Features
* Project photo across /project/:project_id
* Eventually Select users have a dashboard with Project>Order>Tasks

Users
* When creating a project, auto-fill contractor and contact from user
* Users can only see projects from their contractor
* Select users can see all projects

Select Side
* Tasks allocated and passed along the line