<table class="table table-responsive table-hover">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col" colspan="4">Description</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="flase" aria-controls="group-of-rows-1">
      <td>1</td>
      <td colspan="4"> Upfront costs for preparation</td>
      <td>£40000.00</td>
    </tr>
    <tr id="group-of-rows-1" class="collapse">
      <td colspan="6">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td colspan="4">Modular Unit Ancillary Upgrades</td>
      <td> - </td>
    </tr>
    <tr>
      <td>3</td>
      <td colspan="4">Installation</td>
      <td>£10000.00</td>
    </tr>
    <tr>
      <td>4</td>
      <td colspan="4">Craneage</td>
      <td>£2667.00</td>
    </tr>
    <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-5" aria-expanded="flase" aria-controls="group-of-rows-5">
      <td>1</td>
      <td colspan="4">Furniture</td>
      <td>£20000.00</td>
    </tr>
    <tr id="group-of-rows-5" class="collapse">
      <td></td>
      <td><h6>Ground Floor</h6></td>
      <td>No. </td>
      <td>Individual Price</td>
      <td>Total Price</td>
    </tr>
    <tr id="group-of-rows-5" class="collapse">
      <td></td>
      <td>Double Wire Cage Locker</td>
      <td>36</td>
      <td>£<%= 9600/36 %>.00</td>
      <td>£9600.00</td>
    </tr>
    <tr id="group-of-rows-5" class="collapse">
      <td></td>
      <td>Single Wire Cage Locker</td>
      <td>2</td>
      <td>£120.00</td>
      <td>£240.00</td>
    </tr>
  </tbody>
</table>