<h1>Order <%= @order.id %></h1>

<nav>
  <div class="nav nav-tabs" id="orderComponentTabs" role="tablist">
    <a class="nav-item nav-link active" id="nav-summary-tab" data-toggle="tab" href="#nav-summary" role="tab" aria-controlls="nav-summary" aria-selected="true">Job Costing</a>
    <a class="nav-item nav-link" id="nav-preparation-tab" data-toggle="tab" href="#nav-preparation" role="tab" aria-controlls="nav-preparation" aria-selected="false">Technical Drawings</a>
    <a class="nav-item nav-link" id="nav-installation-tab" data-toggle="tab" href="#nav-installation" role="tab" aria-controlls="nav-installation" aria-selected="false">Programme of Works</a>
  </div>
</nav>
<div class="tab-content" id="orderComponentTabsContent">
  <div class="tab-pane fade show active" id="nav-summary" role="tabpane1" aria-labelledby="nav-summary-tab">
    <%= render 'summaryTable' %>
  </div>
  <div class="tab-pane fade" id="nav-preparation" role="tabpane1" aria-labelledby="nav-preparation-tab">
    Technical Drawings would go here
  </div>
  <div class="tab-pane fade" id="nav-installation" role="tabpane1" aria-labelledby="nav-installation-tab">
    Programme of Works here
  </div>
</div>