<h1>Homepage</h1>

<% if user_signed_in? %>
  <div class="card-deck">
    <% Project.all.each do |project| %>
      <% if project.contractor_id == current_user.contractor_id %>
        <div class="card">
          <dev class="card-body">
            <h5 class="card-title"><%= project.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= project.contractor.name %></h6>
            <p class="card-text">Example text to build on the card title and make up the bulk of the card's content</p>
            <%= link_to "View", project_path(project), class: "btn btn-primary" %>
          </dev>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>