<h1><%= @offer[:client_name] %></h1>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Email Address</h5>
        <p class="card-text"><%= @offer[:email] %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Mobile Number</h5>
        <p class"card-text"><%= @offer[:mobile] %></p>
      </div>
    </div>
  </div>
</div>